## 0. Check sign (\*)

Ask the user to input a number and check if this number is **positive**, **negative** or **zero** and print it out.

In [6]:
number=int(input("any number"))
if number < 0:
    print (f"your number {number} is negative")
if number == 0:
    print (f"your number is zero")
if number > 0:
    print (f"your number {number} is positive")

your number 9 is positive

## 4. Luggage size (\*)

The maximum allowed luggage size for boarding an airplane is:

- weight: 8kg
- dimensions: 55x40x23cm (length x width x height)

Let the user input weight, length, width and height of the luggage. The program should check if the luggage is allowed or not.

In [11]:
weight=int(input("weight"))
if weight > 8:
    print ("not allowed")
else:
    length=int(input("length"))    
    if length > 55:
        print ("not allowed")
    else:
        width=int(input("width"))
        if width > 40:
            print ("not allowed")
        else:
            height=int(input("height"))
            if height > 23:
                print ("not allowed")
            else:
                print ("congrats! you can take it onboard")

not allowed

In [ ]:
# rice on chessboard
i = 1
sum_= 0
for x in range(1,9):
    for y in range(1,9):
        i *= 2
        sum_ += i

print(sum_)

36893488147419103230

In [1]:
# 5. Count numbers (*)
# Use a for statement to count from:
# a)   -10 to 10 with one increment (*)
# b)   -10 to 10 with two increment (*)

for i in range(-10, 11):
    print(i)


for x in range(-10, 11, 3):
    print(x)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1
0
1
2
3
4
5
6
7
8
9
10
-10
-7
-4
-1
2
5
8

In [9]:
#3. Divisible (*)
#Let the user input a number. Check if the number is:
#even or odd
#is divisible by 5
#is divisble by 5 and odd

number2 = float(input("number?"))
if number2 % 2==0:
    print("even")
else:
    print("odd")    

if number2 % 5==0:
    print("divisible by 5")
else:
    print("not divisible by 5")    

if True:
    number2 % 2!=0 and number2 % 5==0
    print("odd and divisible by 5")
else:
    print("even and/or not divisible by 5")

even
not divisible by 5
odd and divisible by 5

5. Arithmetic sum (*)
Use a while statement to compute the following sums:

a)   
sum
=
1
+
2
+
…
+
99
+
100

b)   
sum
=
1
+
3
+
5
+
…
+
97
+
99

Repeat these using a for statement

In [ ]:
# while loop
# a)

i=1
sum=0
while i<=100:
    sum+=i
    i+=1
    
print(sum)

5050

In [11]:
# for loop
# a)

x=1
sum_for=0
for x in range (1,101):
    sum_for+=x
    x+=1
    
print(sum_for)

5050

In [ ]:
# while loop
# b)
a=1
sum_a=0
while a<=100:
    sum_a+=a
    a+=2
    
print(sum_a)

2500

In [8]:
# for loop
# b)
b=1
sum_b=0
for b in range(1,100,2):
    sum_b+=b
    b+=2
    
print(sum_b)

2500

6. Multiplication game (*)
a) Create a multiplication game following this flow chart:

In [3]:
import random as rnd
while True:
    x=rnd.randint(1,10)
    y=rnd.randint(1,10)
    print(f"x={x} and y={y}")
    multiplication=int(input("what is x*y?"))

    if multiplication==x*y:
        print("Good work!")
    else:
        print(f"your answer {multiplication} is incorrect")

    play_again=input("Do you want to play again? y/n")
    if play_again!="y":
        print("bye!")
        break

x=5 and y=4
Good work!
x=6 and y=2
Good work!
x=1 and y=9
your answer 10 is incorrect
bye!

7. Multiplication table (*)
Use for statement(s) to:

  a)   print out the 6th multiplication table from 0 to 10 (*)

  b)   let the user input the table, start and end of the table. (*)

  c)   print out a full multiplication table from 0 to 10. (**)

Hint: Use nested for-loops, which means a for-loop in a for-loop. To format the table nicely, use f-string:

print(f"{number :4}", end = "")

In [18]:
#a)
for x in range(0,11):
    number=x*6
    print(f"{x} X 6 = {number}")

0 X 6 = 0
1 X 6 = 6
2 X 6 = 12
3 X 6 = 18
4 X 6 = 24
5 X 6 = 30
6 X 6 = 36
7 X 6 = 42
8 X 6 = 48
9 X 6 = 54
10 X 6 = 60

In [22]:
#b)
chosen_number=int(input("chosen_number"))
start=int(input("start"))
end=int(input("end"))
for x in range(start,end+1):
    result=x*chosen_number
    print(f"{x} X {chosen_number} = {result}")

3 X 8 = 24
4 X 8 = 32
5 X 8 = 40
6 X 8 = 48
7 X 8 = 56
8 X 8 = 64
9 X 8 = 72

In [26]:
#c)
for x in range(0,11):
    for y in range(0,11):
        number=x*y
        print(number, end = "\t")
    print()

0	0	0	0	0	0	0	0	0	0	0
0	1	2	3	4	5	6	7	8	9	10
0	2	4	6	8	10	12	14	16	18	20
0	3	6	9	12	15	18	21	24	27	30
0	4	8	12	16	20	24	28	32	36	40
0	5	10	15	20	25	30	35	40	45	50
0	6	12	18	24	30	36	42	48	54	60
0	7	14	21	28	35	42	49	56	63	70
0	8	16	24	32	40	48	56	64	72	80
0	9	18	27	36	45	54	63	72	81	90
0	10	20	30	40	50	60	70	80	90	100

In [28]:
#c)
for x in range(0,11):
    for y in range(0,11):
        number=x*y
        print(f"{number :4}", end = "")
    print()

   0   0   0   0   0   0   0   0   0   0   0
   0   1   2   3   4   5   6   7   8   9  10
   0   2   4   6   8  10  12  14  16  18  20
   0   3   6   9  12  15  18  21  24  27  30
   0   4   8  12  16  20  24  28  32  36  40
   0   5  10  15  20  25  30  35  40  45  50
   0   6  12  18  24  30  36  42  48  54  60
   0   7  14  21  28  35  42  49  56  63  70
   0   8  16  24  32  40  48  56  64  72  80
   0   9  18  27  36  45  54  63  72  81  90
   0  10  20  30  40  50  60  70  80  90 100

9. Check convergence (**)
Use a while statement to compute the following sums:

a)   
sum
=
1
+
1
2
+
1
4
+
1
8
+
⋯
+
1
2
n

b)   
sum
=
1
−
1
3
+
1
5
−
1
7
+
⋯
+
(
−
1
)
n
2
n
+
1

Try different values on 
n
 to see which value it converges to.

Repeat these using a for statement

In [22]:
# while loop 
# a)
n=0
i=1
z=1
sum=0
while n<=5:   
    z=i/(2**n)
    n+=1
    sum+=z
    
    print(z)

print(sum)

1.0
0.5
0.25
0.125
0.0625
0.03125
1.96875

In [24]:
# for loop 
# a)
i=1
z=1
sum=0
for n in range(6):   
    z=i/(2**n)
    n+=1
    sum+=z
    
    print(z)

print(sum)

1.0
0.5
0.25
0.125
0.0625
0.03125
1.96875

In [27]:
# while loop 
# b)
n=0
i=-1
z=1
sum=0
while n<=6:   
    z=i**n/(2*n+1)
    n+=1
    sum+=z
    
    print(z)

print(sum)

1.0
-0.3333333333333333
0.2
-0.14285714285714285
0.1111111111111111
-0.09090909090909091
0.07692307692307693
0.8209346209346211

In [28]:
# for loop 
# b)
n=0
i=-1
z=1
sum=0
for n in range(7):   
    z=i**n/(2*n+1)
    n+=1
    sum+=z
    
    print(z)

print(sum)

1.0
-0.3333333333333333
0.2
-0.14285714285714285
0.1111111111111111
-0.09090909090909091
0.07692307692307693
0.8209346209346211